/*-------------------- Import fonts --------------------*/
@font-face {
  font-family: "BaronNeue", san-serif;
  src: url("./assets/fonts/BaronNeue.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/BaronNeue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/BaronNeue.otf") format("opentype"), /* Open Type Font */
  url("./assets/fonts/BaronNeue.svg") format("svg"), /* Legacy iOS */
  url("./assets/fonts/BaronNeue.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./assets/fonts/BaronNeue.woff") format("woff"), /* Modern Browsers */
  url("./assets/fonts/BaronNeue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light", san-serif;
  src: url("./assets/fonts/HelveticaNeueCyr-Light.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./assets/fonts/HelveticaNeueCyr-Light.otf") format("opentype"), /* Open Type Font */
  url("./assets/fonts/HelveticaNeueCyr-Light.svg") format("svg"), /* Legacy iOS */
  url("./assets/fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./assets/fonts/HelveticaNeueCyr-Light.woff") format("woff"), /* Modern Browsers */
  url("./assets/fonts/HelveticaNeueCyr-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700;800&display=swap');

/*-------------------- Global Styles --------------------*/
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

:root {
  --white: #ffffff;
  --gray: #eeeeee;
  --lightGray: #f7f5f6;
  --red: #d32b4f;
  --hoverRed: #b52645;
}

