.header__top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.3);
  padding: 15px;
}

.header__top-nav i {
  font-size: 20px;
}

.header__top-nav__text {
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: var(--white);
  padding-bottom: 5px;
  transition: all .3s;
}

.header__top-nav__text:hover {
  border-bottom: 2px solid var(--white);
}

.menu__btn {
  display: none;
  position: relative;
}
